{% extends "App1/index.html" %}

{% load static %}

{% block cambio %}
    <h1> Bienvenido al inicio </h1>
{% endblock %}

{% block cambiotexto %}

<p>En esta pagina podras encontrar el perfil en la red social instagram acerca de el creador de esta pagina <a href="https://www.instagram.com/manv_lu/">Manuel Lujan</a> </p>
<p><small>Me llamo Manuel Lujan, tengo 21 años y estoy estudiando python para comenzar una carrera de data science, actualmente trabajando como Action Dispatcher Center para Dell Technologies.</small></p>
<p><small>Estoy agradecido por las enseñanzas del curso de Python en Coder House, <br>                                                 y hacer una mension especial al profesor Franco di Martino, a los tutores de la comision #43870 y al Coder Ask por sus enseñanzas y correcciones a lo largo de la cursada.</small></p>
<p>Mis intereses principales son las tecnologias, los juegos, el ejercicio y el club mas grande de argentina Boca Juniors - <abbr title="attribute">CABJ</abbr>.</p>
{% endblock %}